{{define "changepswd"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ФИЛИН - книжный интернет магазин</title>
</head>
<body>
    <div class="wrapper">
        <header>
            {{template "header" .}}
        </header>
        <main class="main__bg">
            <div class="container">
                <div class="form__card">
                    <div class="login__title title">
                        Смена пароля
                    </div>
                    <div class="form__container">
                        <div class="info none"></div>
                        <form id="change">
                            <div class="form__row">
                                <div class="input__label">Старый пароль:</div>
                                <input type="password" id="old">
                            </div>
                            <div class="form__row">
                                <div class="input__label">Новый пароль:</div>
                                <input type="password" id="new">
                            </div>
                            <div class="btn__row">
                                <div class="submit__btn" id="submit">Сменить</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            {{template "footer"}}
        </footer>
    </div>
    <script src="/static/js/changepswd.js"></script>
    <script src="/static/js/burger.js"></script>
</body>
</html>
{{end}}