<h1>Заказ № {{.ID}} от {{.Date}}</h1>

<h1>Информация о покупателе</h1>

<p>Фамилия: {{.First_name}}</p>
<p>Имя: {{.Last_name}}</p>
<p>Отчество: {{.Patronymic}}</p>
<p>Номер телефона: {{.Phone}}</p>
<p>Город: {{.City}}</p>
<p>Адрес: {{.Address}}</p>
<p>Почтовый индекс: {{.Post_index}}</p>

<h1>Товары</h1>

{{range .Products}}
    <div>
        <p>ID: {{.ID}}</p>
        <p>Книга: {{.Name}}</p>
        <p>Стоимость(за штуку): {{.Price}}</p>
        <p>Количество: {{.Quantity}}</p>
    </div>
{{end}}

<h1>Общая стоимость: {{.OrderSumm}} руб.</h1>

<p>Уважаемый покупатель! Менеджер по продажам свяжется с Вами по электронной почте для уточнения данных и оплаты. Спасибо за заказ!</p>

<p>-------------FilinShop</p>