{{define "home"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin.css">
    <title>ФИЛИН</title>
</head>
<body>
    <div class="wrapper">
        <header>
            {{template "header" .}}
        </header>
        <main class="main__bg">
            <div class="container">
                <div class="card">
                    <div class="card__row">
                        <a href="/admin/admin_list">
                            <div class="admin_btn">Список админов</div>
                        </a>
                    </div>
                    <div class="card__row">
                        <a href="/admin/create_admin">
                            <div class="admin_btn">Добавить админа</div>
                        </a>
                    </div>
                    <div class="card__row">
                        <a href="/admin/book_list">
                            <div class="admin_btn">Список книг</div>
                        </a>
                    </div>
                    <div class="card__row">
                        <a href="/admin/createBook">
                            <div class="admin_btn">Добавить книгу</div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/admin/home.js"></script>
</body>
</html>
{{end}}